@model IEnumerable<BuzDolabiVI.Models.Yorum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.yorumOnay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorumTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorumIcerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorumAdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorumOzluSoz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorumCinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorumSosyal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarif)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yorumOnay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorumTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorumIcerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorumAdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorumOzluSoz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorumCinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorumSosyal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarif.tarifID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.yorumID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.yorumID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.yorumID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
