@model IEnumerable<BuzDolabiVI.Models.Yorum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icerik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icerik)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.yorumID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.yorumID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.yorumID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
