@model BuzdolabiProject.Models.Tarif

@{
    ViewData["Title"] = "Details";
   
}

<h1>
    Details
    @foreach (var std in ViewData["yorumlar"] as IList<Yorum>)
        {
            <li>
                @std.yorumIcerik;
            </li>
        }
   
</h1>

<div>
    <h4>Tarif</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifOnay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifOnay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifMalzemeler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifMalzemeler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifNasilYapilir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifNasilYapilir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.goruntulenme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.goruntulenme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifGirisYazisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifGirisYazisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kacKalori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kacKalori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.besinDegeriLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.besinDegeriLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kacKisilik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kacKisilik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hazirlanmaSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hazirlanmaSuresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pisirmeSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pisirmeSuresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kategori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ozluSoz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ozluSoz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sosyalMedya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sosyalMedya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cinsiyet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.tarifID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
