@model IEnumerable<BuzdolabiProject.Models.Tarif>



@{
    int yorumSayisi = 0;
}
<div class="sayfalarinBasligi"><h1>TATLI TARİFLERİ</h1></div>

<div class="container-fluid">
    <div class="px-lg-5">



        <div class="row">
            <!-- Gallery item -->
            @foreach (var item in Model)
            {
                if (item.kategori != "Corba")
                {
                    continue;
                }
                     if (item.tarifOnay != "onay")
                {
                    continue;
                }
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ustuneGelinceBuyusun">
                    <div class="bg-white rounded shadow-sm pb-1">
                        <div class="text-center">
                            <a class="temizle" asp-controller="Tarifs" asp-action="Details" asp-route-id="@item.tarifID">
                                <h5 href="#" class="cardUstBaslik">
                                    @item.tarifAd
                                </h5>
                                <br />
                                <img src="https://bootstrapious.com/i/snippets/sn-gallery/img-1.jpg" alt="" class="" style="width:90%;height:90%">
                            </a>
                            <p class="small text-muted mb-0 mt-1"> @item.tarifGirisYazisi </p>
                            <div class="text-center  rounded-pill bg-light mb-2 mt-4">
                                <p href="#" class="">@item.adSoyad</p>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
        <!-- TARİFLER LİSTELENDİ -->
        <!-- SON YORUMLAR LİSTELENİYOR -->
        @foreach (var std in ViewData["yorumlar"] as IList<Yorum>)
        {
            @if (std.Tarif.kategori == "Tatli")
            {
                yorumSayisi++;
            }
        }
        <div class="be-comment-block">
            <h1 class="comments-title">TATLI Kategorisinde Toplam  @yorumSayisi yorum bulunmaktadır.</h1>
            @{
                yorumSayisi = 0;
            }
            <div class="be-comment">
                @foreach (var std in ViewData["yorumlar"] as IList<Yorum>)
                {
                    @if (std.Tarif.kategori != "Tatli")
                    {
                        continue;
                    }
                    <div class="be-img-comment">
                        <a href="blog-detail-2.html">
                            <a href="@std.yorumSosyal">
                                @if (std.yorumCinsiyet == "erkek")
                                {
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">

                                }
                                else
                                {
                                    <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="be-ava-comment">
                                }
                            </a>
                    </div>
                    <div class="be-comment-content">

                        <span class="be-comment-name">
                            <a href="@std.yorumSosyal">@std.yorumAdSoyad</a>
                        </span>
                        <a class="yorumunTarifBasligi" asp-controller="Tarifs" asp-action="Details" asp-route-id="@std.tarifID"> @std.Tarif.tarifAd tarifine yorum yaptı.</a>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            @std.yorumTarih
                        </span>

                        <p class="be-comment-text">
                            @std.yorumIcerik
                        </p>
                    </div>

                }
            </div>
        </div>



    </div>
</div>