@model BuzDolabiVI.Models.Tarif

@{
    ViewData["Title"] = "Details";
    int yorumSayisi = 0;
   
}

<h1>
    Details

</h1>
<div class="imageHolder">
    <img src="~/images/@Model.tarifFoto" alt="kestane" class="tarifBanner golgelendir" style="" />
    <div class="imageBaslik">@Model.tarifAd</div>
</div>
<div class="row">
    <div class="col-8 mt-4">
        <div class="mt-2">@Model.tarifTarih</div>
        <hr />
        <p>
            @Model.tarifGirisYazisi
        </p>
        <hr />
        <div class="bilgiKutusu">@Model.kacKalori</div>
        <div class="bilgiKutusu"><a href="@Model.besinDegeriLink">@Model.besinDegeriLink</a></div>
        <div class="row genelKutu">
            <div class="col-4 mt-2 text-center ">
                <h5 class="tarifDetay3luBaslik">Kaç Kişilik</h5>
                <h3 class="tarifDetay3luCevap">@Model.kacKisilik</h3>

            </div>
            <div class="col-4 mt-2 text-center ">
                <h5 class="tarifDetay3luBaslik">Hazırlama S.</h5>
                <h3 class="tarifDetay3luCevap">@Model.hazirlanmaSuresi dakika</h3>
            </div>
            <div class="col-4 mt-2 text-center ">
                <h5 class="tarifDetay3luBaslik">Pisme S.</h5>
                <h3 class="tarifDetay3luCevap">@Model.pisirmeSuresi dakika</h3>
            </div>
        </div>

        <div class="genelKutu">
            <div>
                <img src="~/images/ingredients.png" class="float-start" />


                <h4> -- 'Tarif ismi' Tarifi İçin Gerekli Malzemeler</h4>


            </div>
            <ul class="tarifMalzemeleri">
                <li class="mt-5">
                    <h6 class="fw-bold float-start" style="margin-top:2px">
                        @Model.tarifMalzemeler
                    </h6>

            </ul>
        </div>
        <div class="genelKutu">
            <img class="float-start" src="~/images/instructions.png" />
            <h4> -- 'Tarif ismi' Tarifi Nasıl Yapılır?</h4>
            <div class="tarifAnlatimi mt-5">
                @Model.tarifNasilYapilir
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="buTarifeKacKisiBakti text-center">
            <h5> Bu tarife kaç kişi baktı?</h5>
            <h2> @Model.goruntulenme</h2>
        </div>
        <hr />
        <div class="buTarifiYazanKisi text-center">
            <a href="@Model.sosyalMedya">
                @if (@Model.cinsiyet == "erkek")
                {
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">

                }
                else
                {
                    <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="be-ava-comment">
                }
            </a>
            <h2> @Model.adSoyad</h2>

            <h6> @Model.ozluSoz </h6>
            <hr />
            <a href="@Model.sosyalMedya">İletişim</a>

        </div>

    </div>









</div>

<div class="genelKutu text-center">
    <h2>
        AFİYET OLSUNN :))
    </h2>
</div>







<div class="be-comment-block">
    <h1 class="comments-title">@Model.tarifAd Tarifine Toplam  @yorumSayisi yorum bulunmaktadır.</h1>
    @{
        yorumSayisi = 0;
    }
    <div class="be-comment">
        @foreach (var std in ViewData["yorumlar"] as IList<Yorum>)
        {
            @if (std.tarifID != Model.tarifID)
            {
                continue;
            }
            <div class="be-img-comment">
                <a href="@std.yorumSosyal">
                    @if (std.yorumCinsiyet == "erkek")
                    {
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">

                    }
                    else
                    {
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="be-ava-comment">
                    }
                </a>
            </div>
            <div class="be-comment-content">

                <span class="be-comment-name">
                    <a href="@std.yorumSosyal">@std.yorumAdSoyad</a>
                </span>
                <a class="yorumunTarifBasligi" asp-controller="Tarifs" asp-action="Details" asp-route-id="@std.tarifID"> @std.Tarif.tarifAd tarifine yorum yaptı.</a>
                <span class="be-comment-time">
                    <i class="fa fa-clock-o"></i>
                    @std.yorumTarih
                </span>

                <p class="be-comment-text">
                    @std.yorumIcerik
                </p>
            </div>
           

        }
        @if (User.Identity.IsAuthenticated)
        {
            <div class="yorumYapBasligi text-center w-100"> <h2>YORUM YAP</h2></div>
            <form class="form-block mt-3" asp-controller="Yorums" asp-action="Create">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                <div class="row">

                    <div class="col-xs-12">
                        <div class="form-group">
                            <input asp-for="yorumIcerik" class="form-input" />
                            <span asp-validation-for="yorumIcerik" class="text-danger"></span>
                        </div>
                    </div>

                    <a class="btn btn-primary pull-right">submit</a>
                </div>
                <input asp-for="yorumOnay" value="0" type="hidden" class="form-control" />
                <input asp-for="yorumTarih" value="@ViewData["tarih"]" type="hidden" class="form-control" />
                <input asp-for="yorumAdSoyad" value="@ViewData["yorumAdi"]" type="hidden" class="form-control" />
                <input asp-for="yorumOzluSoz" value="@ViewData["yorumOzluSoz"]" type="hidden" class="form-control" />
                <input asp-for="yorumCinsiyet" value="@ViewData["yorumCinsiyet"]" type="hidden" class="form-control" />
                <input asp-for="yorumSosyal" value="@ViewData["yorumSosyalMedya"]" type="hidden" class="form-control" />
               <input asp-for="tarifID" value="@Model.tarifID"/ >
                
                <input type="submit"  value="Create" class="btn btn-primary" />
            </form>
        
        }
        else
        {
            <h1 style="margin-top:3%"> <br /> YORUM YAPMAK İÇİN GİRİŞ YAPIN !</h1>
          }
    </>
</div>







