@model IEnumerable<BuzDolabiVI.Models.Tarif>

@{
    ViewData["Title"] = "Index";


}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tarifAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifOnay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifMalzemeler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifNasilYapilir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.goruntulenme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarifGirisYazisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kacKalori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.besinDegeriLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kacKisilik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hazirlanmaSuresi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pisirmeSuresi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ozluSoz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sosyalMedya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cinsiyet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tarifAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifOnay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifFoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifMalzemeler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifNasilYapilir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goruntulenme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarifGirisYazisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kacKalori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.besinDegeriLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kacKisilik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hazirlanmaSuresi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pisirmeSuresi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ozluSoz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sosyalMedya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinsiyet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.tarifID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.tarifID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.tarifID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
