@model IEnumerable<BuzDolabiVI.Models.Tarif>

@{
    ViewData["Title"] = "Index";

    int yorumSayisi = 0;
}

<h1>Index</h1>

<div class="container">
    <div style="margin-top:9%">
        <h2 style="text-align:center;">SON EKLENEN TARİFLER</h2>
            <ul class="cards"> 
                @foreach (var item in Model)
                {
                   <li class="card">
                        <div>
                           <h3 class="card-title">@Html.DisplayFor(modelItem => item.tarifAd)</h3>
                                    <img src="~/images/buzdolabi.png" width="10%" height="10%">
                            <div class="card-content">
                                Yazan Kişi = @item.adSoyad
                                        <p>
                                            @Html.DisplayFor(modelItem => item.tarifGirisYazisi)
                                        </p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a class="card-link" asp-action="Details" asp-route-id="@item.tarifID">Learn More</a>
                        </div>
                    </li>
                  }
            </ul>
    </div>
    <div style="margin-top=:11%">
        <h2 style="text-align:center;">ANA YEMEK TARİFLERİ</h2>
        
            <ul class="cards">
            @foreach (var item in Model)
            {
                @if(item.kategori != "Ana_Yemek")
                {
                    continue;
                }
                    <li class="card">
                        <div>
                            <h3 class="card-title">@Html.DisplayFor(modelItem => item.tarifAd)</h3>
                            <img src="~/images/buzdolabi.png" width="10%" height="10%">
                            <div class="card-content">
                                Yazan Kişi = @item.adSoyad
                                <p>
                                    @Html.DisplayFor(modelItem => item.tarifGirisYazisi)
                                </p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a class="card-link" asp-action="Details" asp-route-id="@item.tarifID">Learn More</a>
                        </div>
                    </li>
                  
             }
            </ul>
        
    </div>
                <div style="margin-top=:11%">
                    <h2 style="text-align:center;">ÇORBA TARİFLERİ</h2>
                   
                        <ul class="cards">
                        @foreach (var item in Model)
                        {
                            @if (item.kategori != "Corba")
                            {
                                continue;
                            }                            
                            <li class="card">
                                <div>
                                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.tarifAd)</h3>
                                    <img src="~/images/buzdolabi.png" width="10%" height="10%">
                                    <div class="card-content">
                                        Yazan Kişi = @item.adSoyad
                                        <p>
                                            @Html.DisplayFor(modelItem => item.tarifGirisYazisi)
                                        </p>
                                    </div>
                                </div>
                                <div class="card-link-wrapper">
                                    <a class="card-link" asp-action="Details" asp-route-id="@item.tarifID">Learn More</a>
                                </div>
                            </li>
                        }
                        </ul>
                    
                </div>
                <div style="margin-top=:11%">
                    <h2 style="text-align:center;">TATLI TARİFLERİ</h2>
                    

                        <ul class="cards">
                    @foreach (var item in Model)
                    {
                        @if (item.kategori != "Tatli")
                        {
                            continue;
                        }
                        <li class="card">
                                <div>
                                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.tarifAd)</h3>
                                    <img src="~/images/buzdolabi.png" width="10%" height="10%">
                                    <div class="card-content">
                                        Yazan Kişi = @item.adSoyad
                                        <p>
                                            @Html.DisplayFor(modelItem => item.tarifGirisYazisi)
                                        </p>
                                    </div>
                                </div>
                                <div class="card-link-wrapper">
                                    <a class="card-link" asp-action="Details" asp-route-id="@item.tarifID">Learn More</a>
                                </div>
                            </li>
                     }
                        </ul>
                    
                </div>
                <div style="margin-top=:11%">
                    <h2 style="text-align:center;">İÇECEK TARİFLERİ</h2>
                        <ul class="cards">
                        @foreach (var item in Model)
                        {
                            @if (item.kategori != "Icecek")
                            {
                                continue;
                            }
                              <li class="card">
                                <div>
                                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.tarifAd)</h3>
                                    <img src="~/images/buzdolabi.png" width="10%" height="10%">
                                    <div class="card-content">
                                        Yazan Kişi = @item.adSoyad
                                        <p>
                                            @Html.DisplayFor(modelItem => item.tarifGirisYazisi)
                                        </p>
                                    </div>
                                </div>
                                <div class="card-link-wrapper">
                                    <a class="card-link" asp-action="Details" asp-route-id="@item.tarifID">Learn More</a>
                                </div>
                            </li>
                         }
                        </ul>
                  
                </div>
        
</div>
@{
    foreach (var std in ViewData["yorumlar"] as IList<Yorum>)
    {
                  yorumSayisi++;
    }
  
}

<div class="be-comment-block">
    <h1 class="comments-title">Bu Sitede Toplam  @yorumSayisi yorum bulunmaktadır.</h1>
    @{
        yorumSayisi = 0;
    }
    <div class="be-comment">
    @foreach (var std in ViewData["yorumlar"] as IList<Yorum>)
    {
            <div class="be-img-comment">
                <a href="blog-detail-2.html">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                </a>
            </div>
            <div class="be-comment-content">

                <span class="be-comment-name">
                    <a href="blog-detail-2.html">@std.yorumAdSoyad</a>
                </span>
                <a class="yorumunTarifBasligi" asp-controller="Tarifs" asp-action="Details" asp-route-id="@std.tarifID"> @std.Tarif.tarifAd tarifine yorum yaptı.</a>
                <span class="be-comment-time">
                    <i class="fa fa-clock-o"></i>
                    @std.yorumTarih
                </span>

                <p class="be-comment-text">
                   @std.yorumIcerik
                </p>
            </div>
    
    }   
        </div>
    </div>



