@inject LanguageService language
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserDetails> SignInManager
@inject UserManager<UserDetails> UserManager
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="margin-bottom:100px;"  role="navigation">
    <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="Navv">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="~/css/logoOnce.png" style="margin-left:50px;margin-top:-30px; height:83px; margin-right:-50px;" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Tarifs" asp-action="Index">@language.Getkey("Ana Sayfa")</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @language.Getkey("Tarifler") <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                         
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="anaYemek">@language.Getkey("Ana Yemek Tarifleri")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="corba">@language.Getkey("Çorba Tarifleri")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="tatli">@language.Getkey("Tatlý Tarifleri")</a>
                        </li>
                       <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="icecek">@language.Getkey("Ýçecek Tarifleri")</a>
                        </li>
                        
                    </ul>

                </li>
                 <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Tarifs" asp-action="Create">@language.Getkey("Tarif Ekle")</a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @language.Getkey("Yönetici") <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li> 
                                    <a class="dropdown-item" asp-area="" asp-controller="Yorums" asp-action="Index">@language.Getkey("Yorum Onaylarý")</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="admin">@language.Getkey("Tarif Onaylarý")</a>
                                </li>
                            </ul>

                        </li>

               

                    }
                }

                @if (User.IsInRole("Admin"))
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="CallYorumApi" asp-action="Index">@language.Getkey("Yorum Api")</a>
                        </li>

                    }
                }

             


            </ul>


           
            <ul class="nav navbar-nav navbar-right">
                @if (SignInManager.IsSignedIn(User))
                {

                    <li style="">
                        <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
                    </li>
                    <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Tarifs", new { area = "" })">
                        <button type="submit" style="margin-top:9px;"class="nav-link btn btn-link text-dark">@language.Getkey("Çýkýþ Yap")</button>
                    </form>
                    </li>
                       
                   
                }
                else
                {

                    <li> <a class="" asp-area="Identity" asp-page="/Account/Register">@language.Getkey("Kayýt Ol")</a></li>
                    <li><a class="" asp-area="Identity" asp-page="/Account/Login">@language.Getkey("Giriþ Yap")</a></li>
                    
                }
              <li class="dropdown" style="margin-right:50px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b> @language.Getkey("Dil")</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="ChangeLanguage" asp-route-culture="tr-TR"><i class="flag-icon flag-icon-gb"></i>Türkçe</a>

                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="ChangeLanguage" asp-route-culture="en-US"><i class="flag-icon flag-icon-gb"></i>English</a>

                        </li>
                        <li class="mb-1">
                            
                            <a class="dropdown-item" asp-area="" asp-controller="Tarifs" asp-action="ChangeLanguage" asp-route-culture="de-DE"><i class="flag-icon flag-icon-de"></i>Deutsch</a>

                        </li>
                    </ul>
                </li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="margin-top:100px; width:100%;"></div>

